In [1]:
#Task 1 :
# Creating Project Dataframe and saving it as a .csv file

# Importing numpy and pandas libraries
import pandas as pd
import numpy as np

# Creating a dictionary structure named project data with keys representing column names containing ID, Project, Cost and Status and values as lists.
project_data = {'ID': ['A001' , 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
                'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
                'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
                'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']}

# Calling dataframe function and creating a dataframe using the dictionary project data, printing it for confirmation and converting it to .csv file                         
project_df = pd.DataFrame(project_data)
print(project_df)
project_df.to_csv('project_data.csv', index=False)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [2]:
# Task 1
# Creating Employee Dataframe and saving it as a .csv file.

# Importing the pandas and numpy libraries
import pandas as pd
import numpy as np

# Creating a dictionary structure named employee data with keys representing column names containing ID, Name, Gender, City and Age and values as lists.
employee_data = {'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
                 'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
                 'Gender': ['M', 'F', 'M', 'F', 'F'],
                 'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
                 'Age': [25,27,29,31,30]}

# Calling dataframe function and creating a dataframe using the dictionary employee data, printing it for confirmation and converting it to .csv file  
employee_df = pd.DataFrame(employee_data)
print(employee_df)
employee_df.to_csv('employee_data.csv', index=False)

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [3]:
# Task 1
# Creating Seniority Level Dataframe and saving it as .csv file.

# Importing the pandas and numpy libraries
import pandas as pd
import numpy as np 

# Creating a dictionary structure named seniority level data with keys representing column names containing ID and Designation Level and values as lists.
seniority_level_data = {'ID': ['A001', 'A002','A003', 'A004', 'A005'],
                        'Designation Level': [2,2,3,2,3]}

# Calling dataframe function and creating a dataframe using the seniority level data, printing it for confirmation and converting it to .csv file  
seniority_level_df = pd.DataFrame(seniority_level_data)
print(seniority_level_df)
seniority_level_df.to_csv('seniority_level_data.csv', index=False)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [33]:
# Task 2
# Replacing missing values in cost column by the running average using for loop.

# Importing pandas and numpy libraries for handling data manipulation and handling null values.
import pandas as pd
import numpy as np

# Reading the saved .csv file into a dataframe using pandas function.
project_df = pd.read_csv('project_data.csv')

# Initializing variables
running_sum = 0
count = 0

# The loop iterates throw all rows in project_df.
# If cost is missing, cost > 0, it calculates average cost using running_sum/count and assigns this value to the missing cost. The round function rounds it off to one decimal place.
#  And in else if count == 0, it assigns 0 to the missing cost.
# If cost is not missing, the valid cost from before is added to running sum and count is increased by 1.

for i in range(len(project_df)): 
    if np.isnan(project_df.loc[i,'Cost']):
        if count > 0:
            project_df.loc[i,'Cost'] = round(running_sum / count, 1)
        else:
            project_df.loc[i,'Cost'] = 0
    else:
        running_sum += project_df.loc[i,'Cost']
        count += 1

# The updated data is printed using print function and saved as .csv file.
print(project_df)
project_df.to_csv('project_data.csv', index = False)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2061714.3   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [31]:
# Task 3
# Splitting the name column in employee data into first name and last name and removing the old name column.

# Importing pandas library for data manipulation.
import pandas as pd

# Reading the saved employee_data.csv file into a dataframe using pandas
employee_df = pd.read_csv('employee_data.csv')

# Using the str.split function to separate name as firstname and lastname at the space separator and expand to new columns.
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

# Removing the original name from the dataframe permanently.
employee_df.drop(columns=['Name'], inplace=True)

# The updated data is printed using print function and saved as .csv file.
print(employee_df)
employee_df.to_csv('employee_data.csv', index=False)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [32]:
# Task 4
# Joining all three dataframes and naming it as final.

# Importing pandas library for data manipulation.
import pandas as pd 

# Reading the saved employee_data.csv file, project_data.csv file and seniority_level_data.csv file using pandas.
project_df = pd.read_csv('project_data.csv')

employee_df = pd.read_csv('employee_data.csv')

seniority_level_df = pd.read_csv('seniority_level_data.csv')

# Merging project_df and employee_df based on a common column ID. And merging this merged_df with seniority_level_df on ID column. Naming this as final_df.
merged_df = pd.merge(project_df, employee_df, on='ID')
final_df = pd.merge(merged_df, seniority_level_df, on='ID')

# Using pd.set_option to prevent wrapping and displaying width till 1000 characters.
pd.set_option('display.width', 1000)

# The updated data is printed using print function and saved as .csv file. 
print(final_df)
final_df.to_csv('final_data.csv', index=False)

      ID     Project       Cost    Status Gender     City  Age First Name  Last Name  Designation Level
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John      Alter                  2
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice  Luxumberg                  2
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom  Sabestine                  3
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina      Adgra                  2
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy      Johny                  3
5   A002   Project 6   680000.0    Failed      F   London   27      Alice  Luxumberg                  2
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy      Johny                  3
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom  Sabestine                  3
8   A001   Project 9  2061714.3   Ongoing      M    Paris   25       John      Alter                  2
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom  Sabestine                  3
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John      Alter                  2
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina      Adgra                  2
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina      Adgra                  2
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy      Johny                  3

In [34]:
# Task 5
# Adding a new bonus column in the final dataframe and giving 5% bonus to employees who have completed their project based on the cost of the project.

# Importing pandas library for data manipulation.
import pandas as pd

# Reading the final.csv file in a dataframe using pandas.
final_df = pd.read_csv('final_data.csv')

# Adding the "Bonus" column in the final_df
# Applying lambda function to check the status of project and assigning the bonus accordingly else assigning 0 row wise.

final_df['Bonus'] = final_df.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

# Printing the final DataFrame with the Bonus column and saving the updates to final_data.csv file.
print(final_df)
final_df.to_csv('final_data.csv', index=False)

      ID     Project       Cost    Status Gender     City  Age First Name  Last Name  Designation Level     Bonus
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John      Alter                  2   50100.0
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice  Luxumberg                  2       0.0
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom  Sabestine                  3  225000.0
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina      Adgra                  2       0.0
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy      Johny                  3  162525.0
5   A002   Project 6   680000.0    Failed      F   London   27      Alice  Luxumberg                  2       0.0
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy      Johny                  3   20000.0
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom  Sabestine                  3       0.0
8   A001   Project 9  2061714.3   Ongoing      M    Paris   25       John      Alter                  2       0.0
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom  Sabestine                  3   15000.0
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John      Alter                  2       0.0
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina      Adgra                  2       0.0
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina      Adgra                  2  150000.0
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy      Johny                  3   10000.0

In [21]:
# Task 6
# Demoting the designation by 1 level whose projects have failed and deleting employees whose designation level is above 4.

# Importing pandas library for data manipulation.
import pandas as pd

# Reading the final .csv file in a dataframe using pandas.
final_df = pd.read_csv('final_data.csv')

# Using the .loc[] function, rows with status failed are selected and designation level is increased by 1 (as higher the number lower the designation).
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] += 1

# Iterating over all rows, checking for designation level above 4 and dropping them permanently from the dataframe.
for index, row in final_df.iterrows(): 
    if row['Designation Level'] > 4:
        final_df.drop(index, inplace=True)

# The updated data is printed using print function and saved as .csv file. 
print(final_df)
final_df.to_csv('final_data.csv', index=False)

      ID     Project       Cost    Status Gender     City  Age First Name  Last Name  Designation Level     Bonus
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John      Alter                  2   50100.0
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice  Luxumberg                  2       0.0
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom  Sabestine                  3  225000.0
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina      Adgra                  2       0.0
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy      Johny                  3  162525.0
5   A002   Project 6   680000.0    Failed      F   London   27      Alice  Luxumberg                  3       0.0
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy      Johny                  3   20000.0
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom  Sabestine                  4       0.0
8   A001   Project 9  2061714.3   Ongoing      M    Paris   25       John      Alter                  2       0.0
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom  Sabestine                  3   15000.0
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John      Alter                  3       0.0
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina      Adgra                  2       0.0
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina      Adgra                  2  150000.0
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy      Johny                  3   10000.0

In [22]:
# Task 7
# Adding Mr. and Mrs. to the first name and dropping the gender column.

# Importing pandas library for data manipulation.
import pandas as pd

# Reading the .csv file into a dataframe using Pandas
final_df = pd.read_csv('final_data.csv')

# Adding the prefix "Mr." or "Mrs." to the First Name column based on the Gender column.
# Using lambda function checking values across rows and adding Mr. for gender M else Mrs. And adding this prefix with the first name row wise.

final_df['First Name'] = final_df.apply(lambda row: ('Mr.' if row['Gender'] == 'M' else 'Mrs.') + row['First Name'], axis=1)

# Droping the Gender column permanently
final_df.drop(columns=['Gender'], inplace=True)

# Using pd.set_option to prevent wrapping and displaying width till 1000 characters.
pd.set_option('display.width', 1000)

# The updated data is printed using print function and saved as .csv file. 
print(final_df)
final_df.to_csv('final_data.csv', index=False)

      ID     Project       Cost    Status     City  Age First Name  Last Name  Designation Level     Bonus
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr.John      Alter                  2   50100.0
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs.Alice  Luxumberg                  2       0.0
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr.Tom  Sabestine                  3  225000.0
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs.Nina      Adgra                  2       0.0
4   A005   Project 5  3250500.0  Finished   Madrid   30    Mrs.Amy      Johny                  3  162525.0
5   A002   Project 6   680000.0    Failed   London   27  Mrs.Alice  Luxumberg                  3       0.0
6   A005   Project 7   400000.0  Finished   Madrid   30    Mrs.Amy      Johny                  3   20000.0
7   A003   Project 8   350000.0    Failed   Berlin   29     Mr.Tom  Sabestine                  4       0.0
8   A001   Project 9  2061714.3   Ongoing    Paris   25    Mr.John      Alter                  2       0.0
9   A003  Project 10   300000.0  Finished   Berlin   29     Mr.Tom  Sabestine                  3   15000.0
10  A001  Project 11  2000000.0    Failed    Paris   25    Mr.John      Alter                  3       0.0
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs.Nina      Adgra                  2       0.0
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs.Nina      Adgra                  2  150000.0
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs.Amy      Johny                  3   10000.0

In [28]:
# Task 8
# Promoting designation level by 1, whose age is more than 29 using if condition.

# Importing pandas library for data manipulation.
import pandas as pd

# Reading the .csv file into final_df using pandas
final_df = pd.read_csv('final_data.csv')

# Defining function promote which takes one argument row and promoting the designation level by 1 for employees whose age is more than 29 years.
# Row function checks if age column has a value above 29. If it is then designation level is decreased by 1. (As lower the number higher the designation)
# Max function ensures designation level does not go below 1. If age is not above 29 it returns the original designation value.

def promote(row):
    if row['Age'] > 29:
        return max(row['Designation Level'] -1, 1)
    return row ['Designation Level']

# Using pd.set_option to prevent wrapping and displaying width till 1000 characters.
pd.set_option('display.width', 1000)

# The updated data is printed using print function and saved as .csv file. 
print(final_df)
final_df.to_csv('final_data.csv', index=False)

      ID     Project       Cost    Status     City  Age First Name  Last Name  Designation Level     Bonus
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr.John      Alter                  2   50100.0
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs.Alice  Luxumberg                  2       0.0
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr.Tom  Sabestine                  3  225000.0
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs.Nina      Adgra                  1       0.0
4   A005   Project 5  3250500.0  Finished   Madrid   30    Mrs.Amy      Johny                  2  162525.0
5   A002   Project 6   680000.0    Failed   London   27  Mrs.Alice  Luxumberg                  3       0.0
6   A005   Project 7   400000.0  Finished   Madrid   30    Mrs.Amy      Johny                  2   20000.0
7   A003   Project 8   350000.0    Failed   Berlin   29     Mr.Tom  Sabestine                  4       0.0
8   A001   Project 9  2061714.3   Ongoing    Paris   25    Mr.John      Alter                  2       0.0
9   A003  Project 10   300000.0  Finished   Berlin   29     Mr.Tom  Sabestine                  3   15000.0
10  A001  Project 11  2000000.0    Failed    Paris   25    Mr.John      Alter                  3       0.0
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs.Nina      Adgra                  1       0.0
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs.Nina      Adgra                  1  150000.0
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs.Amy      Johny                  2   10000.0

In [35]:
# Task 9
# Adding the cost of all projects for each employee and saving it in a new dataframe 'TotalProjCost' with three columns ID, First Name and Total Cost.

# Importing pandas library for data manipulation.
import pandas as pd

# Reading the .csv file into final_df using pandas
final_df = pd.read_csv('final_data.csv')

# Grouping by ID and First Name to group according to each employee and calculating the sum of cost column for each group and reset the index. 
total_proj_cost_df = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Renaming the columns to match the required format
total_proj_cost_df.columns = ['ID', 'First Name', 'Total Cost']

# Printing the new dataframe to verify
print(total_proj_cost_df)

     ID First Name  Total Cost
0  A001       John   5063714.3
1  A002      Alice   2680000.0
2  A003        Tom   5150000.0
3  A004       Nina   9500000.0
4  A005        Amy   3850500.0

In [27]:
# Task 10
# Printing all the employees details whose city name contains 'o'.

# Importing pandas library for data manipulation.
import pandas as pd 

# Reading the .csv file into final_df using pandas
final_df = pd.read_csv('final_data.csv')

# Filtering the cities containing o making it case insensitive to gain access to all o values in city name and storing in the filtered_df. 
filtered_df = final_df[final_df['City'].str.contains('o', case=False)]

# Using pd.set_option to prevent wrapping and displaying width till 1000 characters.
pd.set_option('display.width', 1000)

# Printing the filtered dataframe for verification.
print(filtered_df)

      ID     Project       Cost    Status     City  Age First Name  Last Name  Designation Level     Bonus
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs.Alice  Luxumberg                  2       0.0
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs.Nina      Adgra                  1       0.0
5   A002   Project 6   680000.0    Failed   London   27  Mrs.Alice  Luxumberg                  3       0.0
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs.Nina      Adgra                  1       0.0
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs.Nina      Adgra                  1  150000.0